header {
    margin-bottom: 50px;
}

.block-summary {
    float: left;
    max-width: 380px;
}

.block-summary h1 {
    margin-top: 20px;
    margin-bottom: 25px;
    color: #fff;
    font-size: 48px;
    font-weight: normal;
}

.block-summary p {
    padding-left: 2px;
    color: #83a6ac;
    font-size: 14px;
}

.block-specification {
    float: right;
    margin-top: 30px;
    padding: 0 10px 10px 10px;
    width: 290px;
    border: none;
    background-color: rgba(135, 235, 255, 0.26);
}

.block-specification ul {
    margin: 0 0 10px 0;
}

.block-specification li {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
}

li span {
    color: #b1d0dc;
}

@media (max-width: 700px) {
    .block-summary,
    .block-specification {
        float: none;
        width: 100%;
        max-width: 100%;
    }
}
