nav { background-color: rgba(0, 0, 0, 0.75); }

menu {
    display: flex;
    justify-content: space-between;
}

menu a {
    display: inline-block;
    margin: 0 5px;
    padding: 25px 0;
    color: #3bbac2;
    font-size: 24px;
    text-decoration: none;
}

menu li:hover a {
    color: #fdd087;
    border-top: 1px solid #fdd087;
}

@media screen and (max-width: 650px) {
    menu {
        display: block;
    }
}
